html {
    background-color: black;
    font-family: EnV, Arial, Helvetica, sans-serif;
    color: white;
    scroll-behavior: smooth;
}

body {}

.margin-placeholder {
    margin-top: 4%;
}

hr {
    width: 90%;
}

.title-container {
    margin-top: 10%;
    margin-left: 10%;
}

.title-p {
    color: white;
    font-size: 500%;
    margin: 0;
}

.title-p-deactivated {
    margin: 0;
    font-size: 500%;
    color: #333333;
}

.text-block-container {
    margin-top: 7%;
    max-width: 500px;
    margin-left: 10%;
}

.text-block-text {
    font-size: 120%;
}

.two-rows-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.image-splitscreen {
    width: 50%;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.two-rows-element {
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.two-rows-container-text {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}